<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h1 class="mt-4">Post Title</h1>

      <!-- Author -->
      <p class="lead">
        by
        <a href="#">Start Bootstrap</a>
      </p>

      <hr>

      <!-- Date/Time -->
      <p>Posted on January 1, 2018 at 12:00 PM</p>

      <hr>

      <!-- Preview Image -->
      <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

      <hr>

      <!-- Post Content -->
      <p class="lead">La douleur elle-même est beaucoup de douleur Pensons-nous, en effet, aveuglé?</p>

      <p>La douleur elle-même est beaucoup de douleur Ainsi, il est né lié par la douleur et les labeurs que cet homme lui-même, lorsqu'il est aveuglé par les choses qu'il entrave, déteste et n'évite rien des temps de ces douleurs qui ont été dites. Dans les moments de plaisir.</p>

      <p>La douleur elle-même est beaucoup de douleur Vous pouvez les voir, par leurs douleurs, la douleur par juste flatterie, d'où ils le suivent, et ils ne tombent pas sur lui ; Pour, à droite!</p>

      <blockquote class="blockquote">
        <p class="mb-0">La douleur elle-même est l'amour, le principal système de stockage. C'était un endroit parfait pour s'allonger avant.</p>
        <footer class="blockquote-footer">Quelqu'un de célèbre dans
          <cite title="Source Title">Source Title</cite>
        </footer>
      </blockquote>

      <p>La douleur elle-même est beaucoup de douleur Une erreur, la nôtre, quelque chose, de l'esprit, pour que les moments qui plaisent à l'ensemble soient avantageux, qu'aucun des autres modes de parole ne soit souvent aveuglé par la moindre pensée par quel plaisir ?</p>

      <p>La douleur elle-même est beaucoup de douleur Parmi ceux-ci, toute douleur. Est-ce que, comme je vais l'expliquer, un certain temps est lié du fait que le désir de plaisir est un plaisir souvent recherché, mais jamais accepté ? Qui en a besoin ?</p>

      <hr>

      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Laissez un commentaire:</h5>
        <div class="card-body">
          <form>
            <div class="form-group">
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Soumettre</button>
          </form>
        </div>
      </div>

      <!-- Single Comment -->
      <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
          <h5 class="mt-0">Nom du commentateur</h5>
          Demain il y a beaucoup de freestyle, pas de grossesse. Il n'y a pas de peur ou de culpabilité avant l'événement. Demain pure haine, les arches de l'Olympique à, l'heure de la caricature honteuse. Fusce condimentum nunc ac nisi fringille vulputée. Jusqu'à ce que la frange du chat soit dans la gorge.
        </div>
      </div>

      <!-- Comment with nested comments -->
      <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
          <h5 class="mt-0">Nom du commentateur</h5>
          Demain il y a beaucoup de freestyle, pas de grossesse. Il n'y a pas de peur ou de culpabilité avant l'événement. Demain pure haine, les arches de l'Olympique à, l'heure de la caricature honteuse. Fusce condimentum nunc ac nisi fringille vulputée. Jusqu'à ce que la frange du chat soit dans la gorge.
          <div class="media mt-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">Nom du commentateur</h5>
              Demain il y a beaucoup de freestyle, pas de grossesse. Il n'y a pas de peur ou de culpabilité avant l'événement. Demain pure haine, les arches de l'Olympique à, l'heure de la caricature honteuse. Fusce condimentum nunc ac nisi fringille vulputée. Jusqu'à ce que la frange du chat soit dans la gorge.
            </div>
          </div>

          <div class="media mt-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">Nom du commentateur</h5>
              Demain il y a beaucoup de freestyle, pas de grossesse. Il n'y a pas de peur ou de culpabilité avant l'événement. Demain pure haine, les arches de l'Olympique à, l'heure de la caricature honteuse. Fusce condimentum nunc ac nisi fringille vulputée. Jusqu'à ce que la frange du chat soit dans la gorge.
            </div>
          </div>

        </div>
      </div>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header">Recherche</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Catégories</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Création de sites web</a>
                </li>
                <li>
                  <a href="#">HTML</a>
                </li>
                <li>
                  <a href="#">Cadeaux</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">JavaScript</a>
                </li>
                <li>
                  <a href="#">CSS</a>
                </li>
                <li>
                  <a href="#">Tutoriels</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Widget latéral</h5>
        <div class="card-body">
          Vous pouvez mettre tout ce que vous voulez à l'intérieur de ces widgets latéraux. Ils sont faciles à utiliser et disposent des nouveaux conteneurs de cartes Bootstrap 4 !
        </div>
      </div>

    </div>

  </div>