{% extends "layout.html" %}


{% block body %}

<h3>à propos de nous</h3>
<hr>

<p>
        Bonjour à tous. Je suis Djalabi Mahamat Abakar. Je suis étudiant en 3ème année à l'université de N'Djaména, faculté des sciences exactes et appliquées au département d'informatique. J'ai fondé la chaîne Software Science le 19 avril 2022 pour être utile aux jeunes et aux développeurs de logiciels qui veulent apprendre la programmation et les logiciels, et aussi pour améliorer les logiciels et l'éducation au Tchad. Mon objectif dans cette chaîne est de transformer la science de Software en une académie générale en ligne et de fournir une éducation gratuite dans toute la Turquie. En tant que jeunes de notre pays, essayons d'inculquer les logiciels et la science à tout le monde . Êtes-vous là?
</p>
{% endblock body %}
